{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

<div class="bg-primary top-header p-40">
<h4>Search results for "{{ custom_term }}" </h4>
  {{ exposed }}

  {{ drupal_block('views_exposed_filter_block:apache_solr_search-solr_results_view', wrapper=false) }} 
<div class="pt-10 text-default">
	<input id="search-box" type="checkbox" {{ checked }} class="m-0 pt-1" onclick='window.location.assign("/{{ url_param }}?keys={{ custom_term }}")'/>
	<label for="search-box" class="secondary-color h6 text-info">Include results from this site and Center for Injury Research and Prevention.</label>
 </div>
  {{ attachment_before }}
  </div>
    <div class="bg-white">
      {% if header %}
        <header class="col-12 clearfix border-top border-bottom mt-4 mb-0 px-4">
          {{ header }}
        </header>
      {% endif %}
      {% if rows -%}
        {{ rows }}
      {% elseif empty -%}
        {{ empty }}
      {% endif %}

      {% if footer %}
        <footer class="col-12 clearfix border-top border-bottom mt-4  mb-5 px-4">
          {{ footer }}
        </footer>
      {% endif %}
      {{ pager }}

      {{ attachment_after }}
      {{ more }}


      {{ feed_icons }}
    </div>
</div>
