
     <div class="expandall">Expand All</div>
<div id="{{ id }}" class="clearfix panel-group">
  {% set i = 0 %}
  {% set len = rows | length %}
  {% for key, row in rows -%}
    {% set i = i + 1 %}
    {% set collapse_class = (
        (i == 1 and options.collapse.first is defined and options.collapse.first > 0)
        or (i == len and options.collapse.last is defined and options.collapse.last > 0)
        or (i != 1 and i != len and options.collapse.middle is defined and options.collapse.middle > 0)
        ) ? 'collapse show' : 'collapse'
    %}
    {% set collapse_class_boolean = (
        (i == 1 and options.collapse.first is defined and options.collapse.first > 0)
        or (i == len and options.collapse.last is defined and options.collapse.last > 0)
        or (i != 1 and i != len and options.collapse.middle is defined and options.collapse.middle > 0)
        ) ? 'true' : 'false'
    %}

      <div class="card">
        <div class="class-header" id="heading{{ key }}">
		  <div class="row">
			<div class="col-1">

				<h5 class="mb-0">
				<div class="btn btn-link collapsed" data-toggle="collapse" data-target="#{{ id }}-collapse-{{ key }}" aria-expanded="{{collapse_class_boolean}}" aria-controls="collapseOne">
				</div>
				</h5>
			</div>
			<div class="col-11">

			  <h5 class="mb-0">
				{{ row.title }}

			  </h5>
			  </div>
		  </div>

        </div>

        <div id="{{ id }}-collapse-{{ key }}" class="{{collapse_class}}" aria-labelledby="heading{{ key }}" data-parent="#{{ id }}">
          <div class="card-body">
              {{ row.content }}

          </div>
        </div>
      </div>
  {%- endfor %}
</div>
